.markdown-container h1 {
    font-size: 24px;
}

.markdown-container h2 {
    font-size: 20px;
}

.markdown-container h3 {
    font-size: 18px;
}

.markdown-container ol {
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.markdown-container p,
.markdown-container h1,
.markdown-container h2,
.markdown-container h3,
.markdown-container div,
.markdown-container ol {
    margin-bottom: 10px;
}
